@model BugTrackerV16.Entities.Ticket
@using BugTrackerV16.Services.Interfaces

@inject IBTHelperService _btHelperService

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <div class="col-6">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReportedByUser)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReportedByUser)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AssignedToUser)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AssignedToUser)
            </dd>
        </div>
        <div class="col-6">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Priority)
            </dt>
            <dd class="col-sm-10">
                @if (Model.Priority.Equals("Critical"))
                {
                    <span class="badge badge-danger">Critical</span>
                }
                else if (Model.Priority.Equals("High"))
                {
                    <span class="badge badge-warning">High</span>
                }
                else if (Model.Priority.Equals("Medium"))
                {
                    <span class="badge badge-primary">Medium</span>
                }
                else if (Model.Priority.Equals("Low"))
                {
                    <span class="bage badge-dark">Low</span>
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProjectName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProjectName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
        </div>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
</div>
<div class="mt-3">
    <h3>Comments</h3>
    @foreach (var ticketComment in Model.TicketComments)
    {

<div class="mb-3">
    <p>@ticketComment.Comment</p>
    <b>Posted by @_btHelperService.GetUser(ticketComment.CommentUserId).FirstName @_btHelperService.GetUser(ticketComment.CommentUserId).LastName</b>
    <b>@ticketComment.CreatedDate</b>
</div>
     
        
    }
</div>
<div class="mt-3">
    @Html.ActionLink("Add Comment", "Create", "TicketsComments", new { ticketId = Model.Id }, new { @class = "btn btn-primary" })
</div>
<div class="mt-3">
    <a asp-action="myTicketsIndex">Back to my tickets</a>
</div>
